{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }} Tests Request {% endblock title %}
{% block custom_script %}{% endblock custom_script %}
{% block content %}
    {% include 'management/helpers/sub_navbar.html' %}
    <div class="container-fluid">
        <div class="row mt-3 mb-3 align-items-center">
            <div class="col-auto">
                <a href="{% url 'dashboard' %}" class="btn btn-outline-dark rounded-circle d-flex align-items-center justify-content-center p-0" style="width: 32px; height: 32px;" title="Back to Management">
                    <i class="bi bi-arrow-left fs-5"></i>
                </a>
            </div>
            <div class="col">
                <div class="h5 fw-bold">
                    {% if editing %}Edit Tests{% else %}Add Tests Requests{% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="card shadow border-0 border-start {% if editing %}border-danger{% else %}border-dark{% endif %} border-5 management-home-card-bg">
                    <div class="card-body p-4">
                        <form method="post" action="{% if editing %}?test_id={{ test_id }}{% endif %}">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger py-2 mb-3">
                                    {% for error in form.non_field_errors %}
                                        <p class="mb-0 fw-bold"><i class="bi bi-exclamation-triangle-fill"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    </div>
{% endblock content %}
{% block custom_bottom_script %}
    {{ block.super }}
    <script src="{% static 'js/bulk_select_all.js' %}"></script>
{% endblock custom_bottom_script %}