{% load static %}
{% load rbac_tags %}
{% gp_is_god as is_god %}
{% gp_is_admin as is_admin %}
{% gp_is_pentester as is_pentester %}
{% gp_has_scoped_role 'REGIONAL_VIEWER' as has_rv %}
{% gp_has_scoped_role 'MANAGER' as has_manager %}
{% gp_has_scoped_role 'OPERATOR' as has_operator %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-bottom border-1 border-success pb-3" id="navbarNav">
            <!-- Left items -->
            <ul class="navbar-nav">
                {%  if is_god or is_admin or has_rv %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Regions</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vulnerabilities</a>
                </li>
                {%  if is_god or is_admin or has_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                {% endif %}
            </ul>
            <!-- Right items -->
            <ul class="navbar-nav ms-auto align-items-center">
                {% if is_god or is_admin %}
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown-toggle {% if 'management' in request.path %}select-menu-text fw-bold{% endif %}" href="#" id="managementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear-fill me-1"></i> Management
                        </a>
                        <ul class="dropdown-menu border-dark shadow mt-2" aria-labelledby="managementDropdown">
                            <li>
                                <a class="dropdown-item {% if request.resolver_match.url_name == 'management' %}select-menu-bg fw-bold{% endif %}" href="{% url 'management' %}">
                                    <i class="bi bi-speedometer2 me-2 {% if request.resolver_match.url_name != 'management' %}text-warning{% endif %}"></i> Dashboard
                                </a>
                            </li>
                            <li><hr class="dropdown-divider border-dark"></li>
                            <li><a class="dropdown-item {% if 'region' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'regions' %}"><i class="bi bi-globe2 me-2 {% if 'region' not in request.resolver_match.url_name %}text-success{% endif %}"></i> Regions</a></li>
                            <li><a class="dropdown-item {% if 'market' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'markets' %}"><i class="bi bi-shop me-2 {% if 'market' not in request.resolver_match.url_name %}text-primary{% endif %}"></i> Markets</a></li>
                            <li><a class="dropdown-item {% if 'organization' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'organizations' %}"><i class="bi bi-building me-2 {% if 'organization' not in request.resolver_match.url_name %}text-info{% endif %}"></i> Organizations</a></li>
                            <li><a class="dropdown-item {% if 'asset' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'assets' %}"><i class="bi bi-pc-display me-2 {% if 'asset' not in request.resolver_match.url_name %}text-danger{% endif %}"></i> Assets</a></li>
                            <li><hr class="dropdown-divider border-dark"></li>
                            <li><a class="dropdown-item {% if 'configuration_settings' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'configuration_settings' %}"><i class="bi bi-gear {% if 'configuration_settings' not in request.resolver_match.url_name %}text-warning{% endif %}"></i> Configurations</a></li>
                            <li><a class="dropdown-item {% if 'indicator' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'indicators' %}"><i class="bi bi-palette2 {% if 'indicator' not in request.resolver_match.url_name %}text-success{% endif %}"></i> Indicators</a></li>
                            <li><hr class="dropdown-divider border-dark"></li>
                            <li><a class="dropdown-item {% if 'user' in request.resolver_match.url_name %}select-menu-bg fw-bold{% endif %}" href="{% url 'users' %}"><i class="bi bi-people-fill {% if 'user' not in request.resolver_match.url_name %}text-primary{% endif %}"></i> Users</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark btn-sm rounded-pill px-3 fw-bold">Logout</button>
                   </form>
                </li>
            </ul>
        </div>
    </div>
</nav>